{% extends 'base.html' %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('profile.static', filename='styles/profile.css') }}">

{% endblock %}

{% block script %}

    <script src="{{ url_for('profile.static', filename='js/save_profile_info.js') }}"></script>
    <script>
        toastr.options.positionClass = "toast-top-center";
        toastr.options.timeOut = 5000;

        function top_up() {
            $("#exampleModal").modal("show")
        }
    </script>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <h2>Personal info</h2>
            <div class="col-3 mt-3">
                <label for="login" class="form-label">Login</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="login" value="{{ current_user.login }}">
                    <button class="btn btn-outline-secondary"
                            onclick="save_login('{{ url_for('profile.save_profile_info') }}', '{{ current_user.login }}')">
                        Save
                    </button>
                </div>
            </div>
            <div class="col-9"></div>
            <div class="col-3 mt-3">
                <label for="old-password" class="form-label">Old password</label>
                <input type="password" class="form-control" id="old-password">
            </div>
            <div class="col-5 mt-3">
                <label for="new-password" class="form-label">New password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="new-password">
                    <button class="btn btn-outline-secondary"
                            onclick="change_password('{{ url_for('profile.change_password') }}')">
                        Change password
                    </button>
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4 mt-3">
                <label for="email" class="form-label">Email</label>
                <div class="input-group">
                    <input type="email" class="form-control" id="email" value="{{ current_user.email }}">
                    <button class="btn btn-outline-secondary"
                            onclick="save_email('{{ url_for('profile.save_profile_info') }}', '{{ current_user.email }}')">
                        Save
                    </button>
                </div>
            </div>
            <div class="col-8"></div>
            <div class="col-2 mt-3">
                <label for="balance" class="form-label">Balance</label>
                <div class="input-group">
                    <input class="form-control" id="balance" value="{{ current_user.account.balance }}" readonly>
                    <button class="btn btn-outline-secondary"
                            onclick="top_up()">Top up
                    </button>
                </div>
            </div>
        </div>
        <h2 class="my-5"><a class="text" style="text-decoration: underline" href="{{ url_for('profile.history_page') }}">My purchase
            history</a></h2>
    </div>


    <div>

        <!-- Modal window -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Card credentials</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card-creds-item">
                            <label>Card number</label>
                            <input class="card-number" maxlength="4">
                            <input class="card-number" maxlength="4">
                            <input class="card-number" maxlength="4">
                            <input class="card-number" maxlength="4">
                        </div>
                        <div class="card-creds-item">
                            <label>Name on card</label>
                            <input>
                        </div>
                        <div class="card-creds-item">
                            <label>CVV number</label>
                            <input id="cvv" maxlength="3">
                        </div>
                        <div class="card-creds-item">
                            <label>Expiry date</label>
                            <input id="exp-month" maxlength="2">
                            <input id="exp-year" maxlength="2">
                        </div>
                        <label>Amount</label>
                        <input type="number" id="amount">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"
                                onclick="save_balance('{{ url_for('profile.save_profile_info') }}')">Top up
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}