{% extends 'base.html' %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block script %}
    <script src="{{ url_for('profile.static', filename='js/save_profile_info.js') }}"></script>
    <script>
        toastr.options.positionClass = "toast-top-center";
        toastr.options.timeOut = 5000;

        function top_up() {
            $("#exampleModal").modal("show")
        }
    </script>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <h2>Personal info</h2>
            <div class="col-3 mt-3">
                <label for="login" class="form-label">Login</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="login" value="{{ current_user.login }}">
                    <button class="btn btn-outline-secondary"
                            onclick="save_login('{{ url_for('profile.save_profile_info') }}', '{{ current_user.login }}')">
                        Save
                    </button>
                </div>
            </div>
            <div class="col-9"></div>
            <div class="col-3 mt-3">
                <label for="old-password" class="form-label">Old password</label>
                <input type="password" class="form-control" id="old-password">
            </div>
            <div class="col-5 mt-3">
                <label for="new-password" class="form-label">New password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="new-password">
                    <button class="btn btn-outline-secondary"
                            onclick="change_password('{{ url_for('profile.change_password') }}')">
                        Change password
                    </button>
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4 mt-3">
                <label for="email" class="form-label">Email</label>
                <div class="input-group">
                    <input type="email" class="form-control" id="email" value="{{ current_user.email }}">
                    <button class="btn btn-outline-secondary"
                            onclick="save_email('{{ url_for('profile.save_profile_info') }}', '{{ current_user.email }}')">
                        Save
                    </button>
                </div>
            </div>
        </div>
        <h2 class="my-5">
            <a class="text" style="text-decoration: underline" href="{{ url_for('profile.history_page') }}">My purchase
                history</a>
        </h2>
    </div>

{% endblock %}