<!DOCTYPE html>
<html lang="en">
<head>
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
    <meta charset="UTF-8">
    <title>Register page</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='styles/login.css') }}">
    <script src="{{ url_for('.static', filename='js/register_validate.js') }}"></script>
</head>
<body>
    {{ toastr.include_toastr_js() }}
    <div class="center">
        <h1>Register</h1>
        <form method="post" onsubmit="return Validate();">
            <div class="txt_field">
                <input name="login" id="login" type="text" required autocomplete="off">
                <span></span>
                <label>Login</label>
            </div>
            <div class="txt_field">
                <input name="email" id="email" type="email" required autocomplete="off">
                <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input  name="password" id="password" type="password" required autocomplete="off">
                <span></span>
                <label>Password</label>
            </div>
            <div class="txt_field">
                <input  name="password2" id="password2" type="password" required autocomplete="off">
                <span></span>
                <label>Repeat password</label>
            </div>
            <input type="submit" value="Register">
            <div class="signup_link">
                Already have an account? <a href="{{ url_for('main.login_page') }}">Sign in</a>
            </div>
        </form>
    </div>
</body>
</html>