.catalog {
    display: flex;
}

.catalog-filter {
    min-width: 400px;
    background-color: bisque;
    display: block;
    padding: 10px;
    font-size: 20px;
}

.catalog-filter button[type="submit"] {
    font-size: 20px;
}

.filter-item select {
    font-size: 20px;
}

.filter-item input {
    font-size: 20px;
    width: 100px;
    text-align: center;
}

.filter-head {
    margin-bottom: 10px;
}

.catalog-wrap {
    background-color: aliceblue;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catalog-item {
    width: 270px;
    height: 300px;
    margin: 40px;
    border: thin solid;
}

.catalog-item p {
    margin: 0;
}

.catalog-item-info p:not(:first-child) {
    margin-left: 10px;
}

.catalog-item button {
    margin-right: 10px;
    border-radius: 5px;
    border-width: thin;
    background-color: deepskyblue;
    font-family: 'century gothic', monospace;
    font-size: 16px;
}

.catalog-item button:hover {
    cursor: pointer;
}

.catalog-item-image {
    text-align: center;
}

.filter-item {
    border-top: solid;
    border-width: thin;
    margin-bottom: 10px;
    padding-top: 10px;
}

.filter-item p {
    margin-top: 0;
    margin-bottom: 10px;
}

.catalog-filter button[type='submit'] {
    padding: 10px;
    border-radius: 30px;
    border-width: thin;
    background-color: aqua;
    font-size: 18px;
    width: 100px;
}

.catalog-filter button[type='submit']:hover {
    cursor: pointer;
}

#sorting-options {
    margin-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}