.best-offers {
    margin-top: 50px;
    font-size: 40px;
}

.best-offers-container {
    display: flex;
    flex: 1;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.best-offers-item {
    width: 270px;
    height: 300px;
    margin: 40px;
    border: thin solid;
}

.best-offers-item-info p {
    margin: 0 0 0 10px;
}

.best-offers-item-image {
    text-align: center;
}