<!DOCTYPE html>
<html lang="en">
<head>
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
    <meta charset="UTF-8">
    {% block title %} {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    {% block links %} {% endblock %}
</head>
<body>
    {{ toastr.include_toastr_js() }}
    <header>
        <div class="header-top">
            <div class="header-left">
                <p>Mon-Sun: 9.00-21.00</p>
                <p>+375-(29)-111-22-33</p>
            </div>
            <div class="logo">
                <a href="{{ url_for('main_page') }}">
                    <img src="{{ url_for('static', filename='images/logo-small.png') }}" alt="#">
                </a>
            </div>
            <div class="header-right">
                {% if current_user.is_authenticated %}
                    <p><a href="{{ url_for('profile_page') }}" class="text">{{ current_user.login }} (${{ current_user.balance }})</a></p>
                    <p><a href="{{ url_for('cart_page') }}" class="text">Cart</a></p>
                    <p><a class="text" href="{{ url_for('logout_page') }}">Sign out</a></p>
                {% else %}
                    <p><a class="text" href="{{ url_for('login_page') }}">Sign in</a></p>
                    <p><a class="text" href="{{ url_for('register_page') }}">Sign up</a></p>
                {% endif %}
            </div>
        </div>
        <div class="header-bottom">
            <ul>
                {% for type in PRODUCT_TYPES %}
                    <li>
                        <a href="{{ '/catalog/' + type.name.lower() }}" class="text">{{ type.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </header>
    {% block main %} {% endblock %}
    <footer>
        <div class="copyrights">
            <p>© 2022 "Uvelirka.by" All rights reserved.</p>
            <p>Ltd "UvelirkaGroup International"</p>
            <p>Legal address: 230000, Belarus, Ozheshko st, 321</p>
            <p>Working hours 09:00 - 21:00</p>
        </div>
    </footer>
</body>
{% block script %} {% endblock %}
</html>