{% extends 'base.html' %}

{% block title %}
    <title>Cart</title>
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cart.css') }}">
{% endblock %}

{% block main %}
    <div class="cart">
        <div class="cart-items">
            {% if products %}
                {% for product in products %}
                    <div class="cart-item">
                        <div class="cart-item-image">
                            <img src="../static/images/{{ product.image if product.image else "no-image.png" }}" alt="#" height="170" width="230">
                        </div>
                        <p>Name: {{ product.name }}</p>
                        <p>Price: {{ product.price }}</p>
                        <a href="{{ url_for('remove_from_cart', id=product.id) }}">Remove</a>
                    </div>
                {% endfor %}
            {% else %}
                No products in cart...
            {% endif %}
        </div>
        <div class="payment">
            <p>Products in cart: {{ products|length }}</p>
            <a href="{{ url_for('remove_all_from_cart') }}">Remove all</a>
            <p>Total price: {{ products|sum(attribute='price') }}</p>
            <a {{ "hidden" if not products }} href="{{ url_for('confirm') }}">Confirm</a>
        </div>
    </div>
{% endblock %}