{% extends 'base.html' %}

{% block title %}
    <title>Cart</title>
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cart.css') }}">
{% endblock %}

{% block script %}
    <script>
        toastr.options.positionClass = "toast-top-center";
        toastr.options.timeOut = 5000;

        function confirm() {
            bal = "{{ current_user.balance }}"
            price = "{{ products|sum(attribute='price') }}"

            if (Number(bal) < Number(price)) {
                toastr.warning('Not enough money on account! <br><a href="{{ url_for('profile_page') }}">Top up</a>');
                return;
            }

            fetch("{{ url_for('confirm') }}", {
                method: "GET",
            }).then(function (response) {
                toastr.success('Thank you!');
                setTimeout(() => { window.location.replace("{{ url_for('main_page') }}") }, 1000);
            });
        }
    </script>
{% endblock %}

{% block main %}
    <div class="cart">
        <div class="cart-items">
            {% if products %}
                {% for product in products %}
                    <div class="cart-item">
                        <div class="cart-item-image">
                            <img src="../static/images/{{ product.image if product.image else "no-image.png" }}" alt="#" height="200" width="230">
                        </div>
                        <div class="cart-item-info">
                            <p style="text-align: center"><b>{{ product.name }}</b></p>
                            <p>Price: {{ product.price }}</p>
                        </div>
                        <p style="text-align: right">
                        <a href="{{ url_for('remove_from_cart', id=product.id) }}">
                            <button>Remove</button>
                        </a></p>
                    </div>
                {% endfor %}
            {% else %}
                No products in cart...
            {% endif %}
        </div>
        <div class="payment">
            <p>Products in cart: {{ products|length }}</p>
            <a class="text" style="text-decoration: underline" href="{{ url_for('remove_all_from_cart') }}">Remove all</a>
            <p>Total price: ${{ products|sum(attribute='price') }}</p>
            <p style="text-align: center"><button {{ "hidden" if not products }} onclick="confirm()">Confirm</button></p>
        </div>
    </div>
{% endblock %}