{% extends 'base.html' %}

{% block title %}
    <title>Catalog</title>
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/catalog.css') }}">
{% endblock %}

{% block script %}
    <script>
        var sorting_option = "{{ sorting_option }}";
        if (sorting_option !== "") {
            document.querySelector('#sorting-options').value = sorting_option;
        }
        else {
            document.querySelector('#sorting-options').value = 'name-asc';
        }
    </script>
{% endblock %}

{% block main %}
    <div class="catalog">
        <div class="catalog-filter">
            <form method="post" action="{{ url_for('catalog_page', product_type=product_type) }}">
                <div class="filter-head">
                    <b>FILTERS</b> |
                    <a href="{{ url_for('catalog_page', product_type=product_type) }}">Clear</a>
                </div>
                <div class="filter-content">
                    <div class="filter-item">
                        <b>Price</b> <br>
                        <label for="start">From</label>
                        <label for="end">To</label>
                        <input id="start" type="number" step="any" autocomplete="off" name="price-start" value="{{ products|min(attribute='price')|attr('price') if products }}">
                        <input id="end" type="number" step="any" autocomplete="off" name="price-end" value="{{ products|max(attribute='price')|attr('price') if products }}">
                    </div>
                    <div class="filter-item">
                        <b>Sort by</b>
                        <select name="sorting" id="sorting-options">
                            <option value="name-asc">↑ Name</option>
                            <option value="name-desc">↓ Name</option>
                            <option value="price-asc">↑ Price</option>
                            <option value="price-desc">↓ Price</option>
                        </select>
                    </div>
                </div>
                <button type="submit">Apply</button>
            </form>
        </div>
        <div class="catalog-wrap">
            {% if products %}
                {% for product in products %}
                    <article class="catalog-item">
                        <div class="catalog-item-image">
                            <a href={{ url_for('product_page', id=product.id) }}>
                                <img src="{{ url_for('static', filename='images/' + product.image) if product.image else url_for('static', filename='images/no-image.png') }}" alt="#" height="170" width="230">
                            </a>
                        </div>
                        <p>Name: {{ product.name }}</p>
                        <p>Price: {{ product.price }}</p>
                        <p>Quantity: {{ product.quantity }}</p>
                        <a style="visibility: {{ "hidden" if product.quantity == 0 else "visible" }}" href="{{ url_for('add_to_cart', id=product.id) }}">Add to cart</a>
                    </article>
                {% endfor %}
            {% else %}
                <p>No products found...</p>
            {% endif %}
        </div>
    </div>
{% endblock %}