<!DOCTYPE html>
<html lang="en">
<head>
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css() }}
    {{ toastr.message() }}
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
</head>
<body>
    {{ toastr.include_toastr_js() }}
    <div class="center">
        <h1>Sign in</h1>
        <form method="post">
            <div class="txt_field">
                <input name="login" type="text" required autocomplete="off">
                <span></span>
                <label>Login</label>
            </div>
            <div class="txt_field">
                <input  name="password" type="password" required autocomplete="off">
                <span></span>
                <label>Password</label>
            </div>
            <div class="pass">Forgot Password?</div>
            <input type="submit" value="Sign in">
            <div class="signup_link">
                Not a member? <a href="{{ url_for('register_page') }}">Sign up</a>
            </div>
        </form>
    </div>
</body>
</html>