{% extends 'base.html' %}

{% block title %}
    <title>Main page</title>
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
{% endblock %}

{% block main %}
    <div>
        <div class="best-offers">
            <div style="text-align: center">Best offers</div>
            <div class="best-offers-container">
                {% for product in random_products %}
                    <div class="best-offers-item">
                        <a href={{ url_for('product_page', id=product.id) }}>
                            <div class="best-offers-item-image">
                                <img src="../static/images/{{ product.image if product.image else "no-image.png" }}" alt="#" height="200" width="230">
                            </div>
                        </a>
                        <div class="best-offers-item-info">
                            <p style="text-align: center"><b>{{ product.name }}</b></p>
                            <p>Price: ${{ product.price }}</p>
                            <p>Quantity: {{ product.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}