<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>
<h1>Register page</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

    <form method="post">
        <label for="login">Login</label>
        <input id="login" autocomplete="off" name="login" required>
        <label for="password">Password</label>
        <input id="password" autocomplete="off" type="password" name="password" required>
        <label for="password2">Repeat password</label>
        <input id="password2" autocomplete="off" type="password" name="password2" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>