{% extends 'base.html' %}

{% block title %}
    <title>Main page</title>
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('catalog.static', filename='styles/product.css') }}">
{% endblock %}

{% block script %}
    <script src="{{ url_for('catalog.static', filename='js/add_to_cart.js') }}"></script>
    <script>
    toastr.options.positionClass = "toast-bottom-right";
    toastr.options.timeOut = 1500;
    </script>
{% endblock %}

{% block main %}
    <div class="product">
        <div class="product-image">
            <img src="{{ url_for('static', filename='images/' + (product.image if product.image else "no-image.png")) }}" alt="#">
        </div>
        <div class="product-description">
            <h2>Description:</h2>
            <p>Name: {{ product.name }}</p>
            <p>Type: {{ product.type_object.name }}</p>
            <p>Price: ${{ product.price }}</p>
            <p>Quantity: {{ product.quantity }}</p>
            <p>Number of purchases: {{ num_of_purchases }}</p>
            {% if current_user.is_authenticated %}
                <button {{ "disabled" if product.quantity == 0 }} onclick="add_to_cart({{ product.id }}, '{{ url_for('cart.add_to_cart') }}')">Add to cart</button>
            {% else %}
                <button {{ "disabled" if product.quantity == 0 }} onclick="toastr.error('Sign in your account first!')">Add to cart</button>
            {% endif %}
        </div>
    </div>
{% endblock %}