{% extends 'base.html' %}

{% block title %}
    <title>Purchase history</title>
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('profile.static', filename='styles/history.css') }}">
{% endblock %}

{% block main %}
    <div>
        {% if notes %}
            {% for note in notes %}
                <div class="history-row">
                    <h3>Date: {{ note['date'] }}</h3>
                    <div class="history-items">
                        {% for item in note['items'] %}
                            <div class="history-item">
                                <div class="history-item-image">
                                    <img src="{{ url_for('static', filename='images/') + item.article.image if item.article.image else "no-image.png" }}" alt="#" height="200" width="230">
                                </div>
                                <div class="history-item-info">
                                    <p style="text-align: center"><b>{{ item.article.name }}</b></p>
                                    <p>Price: ${{ item.article.estimated_price }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {{ set }}
                    <h4>Total sum: ${{ note['items']|sum(attribute='article.estimated_price') }}</h4>
                </div>
            {% endfor %}
        {% else %}
            Nothing here...
        {% endif %}
    </div>
{% endblock %}