<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email confirm page</title>
    <style>
        body {
            background-color: #fffff0;
            font-family: 'century gothic', monospace;
            text-align: center;
        }
    </style>
</head>
<body>
    {% if success %}
        <h1>Account successfully verified!</h1>
        <a href="{{ url_for('login_page') }}">Go to login page</a>
    {% else %}
        <h1>Your token expired :(</h1>
        <a href="{{ url_for('email.send_email') }}">Send again</a>
    {% endif %}
</body>
</html>