{% extends 'base.html' %}

{% block title %}
    <title>Catalog</title>
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('catalog.static', filename='styles/catalog.css') }}">

{% endblock %}

{% block script %}
    <script src="{{ url_for('catalog.static', filename='js/add_to_cart.js') }}"></script>
    <script src="{{ url_for('catalog.static', filename='js/multi_range_slider.js') }}"></script>
    <script src="{{ url_for('catalog.static', filename='js/search.js') }}"></script>
    <script>
        toastr.options.positionClass = "toast-bottom-right";
        toastr.options.timeOut = 1500;
        const sorting_option = "{{ sorting_option }}";
        document.querySelector('#sorting-options').value = sorting_option !== "" ? sorting_option : 'name-asc'
    </script>

{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <form method="post" action="{{ url_for('catalog.catalog_page') }}">
                    <h5 class="text-center">F I L T E R S</h5>
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseOne">
                                    Type
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                 aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="match-ring"
                                               id="flexCheckDefault" {{ session['match-ring'] }}>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Ring
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="match-bracelet"
                                               id="flexCheckDefault" {{ session['match-bracelet'] }}>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Bracelet
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="match-watch"
                                               id="flexCheckDefault" {{ session['match-watch'] }}>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Watch
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="match-necklace"
                                               id="flexCheckDefault" {{ session['match-necklace'] }}>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Necklace
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="match-pendant"
                                               id="flexCheckDefault" {{ session['match-pendant'] }}>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Pendant
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="match-chain"
                                               id="flexCheckDefault" {{ session['match-chain'] }}>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Chain
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="match-earrings"
                                               id="flexCheckDefault" {{ session['match-earrings'] }}>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Earrings
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="match-brooch"
                                               id="flexCheckDefault" {{ session['match-brooch'] }}>
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Brooch
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseTwo">
                                    Search
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    <input type="text" id="searchInput" onkeyup="searchFunction()" class="form-control"
                                           placeholder="Article name"
                                           name="search-string" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseThree">
                                    Price
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingThree">
                                <div class="accordion-body">
                                    <div class="range_container mt-3">
                                        <div class="sliders_control">
                                            <input id="fromSlider" type="range"
                                                   value="{{ articles|min(attribute='estimated_price')|attr('estimated_price') }}"
                                                   min="{{ articles|min(attribute='estimated_price')|attr('estimated_price') }}"
                                                   max="{{ articles|max(attribute='estimated_price')|attr('estimated_price') }}"/>
                                            <input id="toSlider" type="range"
                                                   value="{{ articles|max(attribute='estimated_price')|attr('estimated_price') }}"
                                                   min="{{ articles|min(attribute='estimated_price')|attr('estimated_price') }}"
                                                   max="{{ articles|max(attribute='estimated_price')|attr('estimated_price') }}"/>
                                        </div>
                                        <div class="form_control">
                                            <div class="form_control_container">
                                                <div class="form_control_container__time">Min</div>
                                                <input class="form_control_container__time__input" type="number"
                                                       id="fromInput" name="price-start"
                                                       value="{{ articles|min(attribute='estimated_price')|attr('estimated_price') }}"
                                                       min="{{ articles|min(attribute='estimated_price')|attr('estimated_price') }}"
                                                       max="{{ articles|max(attribute='estimated_price')|attr('estimated_price') }}"/>
                                            </div>
                                            <div class="form_control_container">
                                                <div class="form_control_container__time">Max</div>
                                                <input class="form_control_container__time__input" type="number"
                                                       id="toInput" name="price-end"
                                                       value="{{ articles|max(attribute='estimated_price')|attr('estimated_price') }}"
                                                       min="{{ articles|min(attribute='estimated_price')|attr('estimated_price') }}"
                                                       max="{{ articles|max(attribute='estimated_price')|attr('estimated_price') }}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3" style="text-align: center">
                        <span>
                            <a href="{{ url_for('catalog.catalog_page') }}">
                                <button type="button" class="btn btn-danger">Clear</button></a>
                            <button type="submit" class="btn btn-success">Apply</button>
                        </span>
                    </div>

                </form>
            </div>
            <div class="col-9">
                <p class="text-end">
                    <b>Sort by</b>
                    <button id="sort-button"></button>
                    <select name="sorting" id="sorting-options">
                        <option value="name-asc">↑ Name</option>
                        <option value="name-desc">↓ Name</option>
                        <option value="estimated_price-asc">↑ Price</option>
                        <option value="estimated_price-desc">↓ Price</option>
                    </select>
                </p>
                <div class="container" id="articlesContainer">
                    <div class="row row-cols-3 g-4" id="place_for_cards">
                        {% if articles %}
                            {% for article in articles %}
                                <div class="col">
                                    <div class="card">
                                        <a href={{ url_for('catalog.article_page', id=article.article_id) }}>
                                            <img class="card-img-top"
                                                 src="{{ url_for('static', filename='images/') + article.image if article.image else "no-image.png" }}"
                                                 alt="#" height="200" width="230">
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title">{{ article.name }}</h5>
                                            <p class="card-text">Price: ${{ article.estimated_price }}</p>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No articles found...</p>
                        {% endif %}
                    </div>
                </div>
                <hr class="featurette-divider my-4">
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">654</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>

{% endblock %}