html, body{width:100%; height:100%; overflow-x:hidden}


body {
    background-color: #fffff0 !important;
}

a.text:active,
a.text {
  text-decoration: none;
  color: #000000;
}

a.text:hover {
    color: darkturquoise;
}
