.product {
    display: flex;
}

.product-image {
    width: 50%;
    display: flex;
    justify-content: center;
}

.product-description {
    width: 50%;
    background-color: #adadad;
}

.product-description * {
    margin-left: 10px;
}

.product-description button {
    border-radius: 10px;
    border-width: thin;
    font-family: 'century gothic', monospace;
    font-size: 16px;
    background-color: deepskyblue;
    cursor: pointer;
}