.loupe {
  display: none;
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  box-shadow: 5px 5px 12px black;
  background: rgba(0, 0, 0, 0.25);
  cursor: none;
  overflow: hidden;
}

.loupe img {
  position: absolute;
  right: 0;
}

/*
.article {
    display: flex;
}

.article-image {
    width: 50%;
    display: flex;
    justify-content: center;
}

.article-description {
    width: 50%;
    background-color: #adadad;
}

.article-description * {
    margin-left: 10px;
}

.article-description button {
    border-radius: 10px;
    border-width: thin;
    font-family: 'century gothic', monospace;
    font-size: 16px;
    background-color: deepskyblue;
    cursor: pointer;
}*/
