

/*
.cart {
    display: flex;
}

.cart-items {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.cart-item {
    width: 270px;
    height: 300px;
    margin: 40px;
    background-color: #ffffff;
}

.cart-item p {
    margin: 0;
}

.cart-item-info p:not(:first-child) {
    margin-left: 10px;
}

.cart-item button {
    font-family: 'century gothic', monospace;
    background-color: hotpink;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
}

.payment {
    width: 200px;
    background-color: darkorange;
    margin-left: auto;
    padding: 10px;
}

.payment p {
    margin-top: 20px;
}

.payment button {
    font-family: 'century gothic', monospace;
    font-size: 16px;
    background-color: chartreuse;
    border-radius: 10px;
    border-width: thin;
    cursor: pointer;
}

.cart-item-image {
    text-align: center;
}*/
