{% extends 'base.html' %}

{% block title %}
    <title>Cart</title>
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('cart.static', filename='styles/cart.css') }}">
{% endblock %}

{% block script %}
    <script src="{{ url_for('cart.static', filename='js/confirm.js') }}"></script>
    <script>
        toastr.options.positionClass = "toast-top-center";
        toastr.options.timeOut = 5000;
    </script>
{% endblock %}

{% block main %}
    <div class="cart">
        <div class="cart-items">
            {% if articles %}
                {% for article in articles %}
                    <div class="cart-item">
                        <div class="cart-item-image">
                            <img src="{{ product.image if product.image else "https://www.dropbox.com/s/aoiyw8t7jvy206a/no-image.png?raw=1" }}" alt="#" height="200" width="230">
                        </div>
                        <div class="cart-item-info">
                            <p style="text-align: center"><b>{{ article.name }}</b></p>
                            <p>Price: ${{ article.estimated_price }}</p>
                        </div>
                        <p style="text-align: right">
                        <a href="{{ url_for('cart.remove_from_cart', id=article.article_id) }}">
                            <button>Remove</button>
                        </a></p>
                    </div>
                {% endfor %}
            {% else %}
                No articles in cart...
            {% endif %}
        </div>
        <div class="payment">
            <p>Articles in cart: {{ articles|length }}</p>
            <a class="text" style="text-decoration: underline" href="{{ url_for('cart.remove_all_from_cart') }}">Remove all</a>
            <p>Total price: ${{ articles|sum(attribute='estimated_price') }}</p>
            <p style="text-align: center"><button {{ "hidden" if not articles }} onclick="confirm_purchase({{ current_user.account.balance }}, {{ articles|sum(attribute='estimated_price') }}, '{{ url_for('cart.confirm') }}', '{{ url_for('main_page') }}')">Confirm</button></p>
        </div>
    </div>
{% endblock %}